<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">Escuela Mariano Ariza</a>
        <img src="/img/logo.png" height="50" width="50" alt="Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="institucionDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Quienes somos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pages/historia.html">Historia</a></li>
                        <li><a class="dropdown-item" href="/pages/autoridades.html">Autoridades</a></li>
                        <li><a class="dropdown-item" href="/pages/docentes.html">Docentes</a></li>
                        <li><a class="dropdown-item" href="/pages/pei.html">Proyecto Educativo Institucional</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal"
                        data-bs-target="#roleChooserModal">Autogestión</a></li>
                <li><a class="nav-link" href="/pages/horarios.html">Horarios</a></li>
                <li><a class="nav-link" href="/pages/novedades.html">Novedades</a></li>
            </ul>
        </div>
    </div>
</nav>