<footer class="footer bg-primary text-white text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 text-center">
                    <h5 class="text-uppercase mb-3">Ubicación</h5>
                    <div class="map-container"
                        style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden; border-radius: 8px;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1774.4531108442093!2d-65.6057839036636!3d-27.190684074507768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9423ccce30186037%3A0x82c90480b493cd2b!2sEsc.%20Mariano%20Ariza!5e0!3m2!1ses-419!2sar!4v1739040836795!5m2!1ses-419!2sar"
                            width="600" height="450"
                            style="border:0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 text-center">
                    <h5 class="text-uppercase mb-3">Escuela Mariano Ariza</h5>
                    <p class="mb-3">
                        Un espacio preparado para que los alumnos y docentes realicen actividades de enseñanza y
                        aprendizaje.
                    </p>
                    <div class="d-flex justify-content-center justify-content-lg-center mb-3">
                        <a href="https://www.facebook.com/escuela.m.ariza" class="text-white me-3"><i
                                class="fab fa-facebook fa-2x"></i></a>
                    </div>
                    <P>Telefono: +54386369088 <br> Calle Soldado Vazques S/N - Capitan Caceres</P>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase mb-3">Enlaces Rápidos</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
                        <li class="mb-2"><a href="/novedades.html" class="text-white text-decoration-none">Novedades</a>
                        </li>
                        <li class="mb-2"><a href="/historia" class="text-white text-decoration-none">Historia</a></li>
                        <li class="mb-2"><a href="/horarios.html" class="text-white text-decoration-none">Horarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3 bg-dark">
            © 2025 Escuela Mariano Ariza - Todos los derechos reservados.
        </div>
    </footer>